<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--version="1.0" encoding="utf-8" standalone="yes"-->
<window>
	<id>4</id>
	<defaultcontrol>4</defaultcontrol>
	<allowoverlay>control.isvisible(13371337)</allowoverlay>
	<define>#header.title:5</define>
	<define>#header.subtitle:-</define>
	<define>#header.background:hover_settings.png</define>
	<controls>
		<import>common.window.background.xml</import>
		<import>common.window.header.xml</import>
		<control>
			<type>image</type>
			<id>157986</id>
			<posX>0</posX>
			<posY>0</posY>
			<width>1920</width>
			<height>1080</height>
			<texture>white.png</texture>
			<colordiffuse>#ColorMainUnfocusedMenu</colordiffuse>
			<animation effect="fade" time="200">windowopen</animation>
		</control>
		<control>
			<type>group</type>
			<dimColor>ffffffff</dimColor>
			<animation effect="slide" tween="circle" easing="out" time="200" start="0,500" reversible="false">WindowOpen</animation>
			<animation effect="slide" tween="circle" easing="out" time="200" end="0,500" reversible="false">WindowClose</animation>
			<control>
				<type>image</type>
				<id>0</id>
				<posX>560</posX>
				<posY>430</posY>
				<width>800</width>
				<height>1080</height>
				<texture>background_menu.png</texture>
				<colorDiffuse>ffffffff</colorDiffuse>
			</control>
			<control>
				<id>0</id>
				<type>label</type>
				<posX>660</posX>
				<posY>533</posY>
				<label>5</label>
				<width>600</width>
				<font>font20</font>
				<align>left</align>
				<textcolor>#ColorAlternate</textcolor>
			</control>
			<control>
				<type>group</type>
				<layout>StackLayout(0, Vertical, true)</layout>
				<posX>610</posX>
				<posY>630</posY>
				<!-- <control>
					<description>Wizard</description>
					<type>button</type>
					<id>3</id>
					<label>1200</label>
					<hyperlink>615</hyperlink>
					<onup>17</onup>
				</control>
				 -->
				<control>
					<description>General</description>
					<type>button</type>
					<id>4</id>
					<label>128</label>
					<hyperlink>705</hyperlink>
					<onup>17</onup>
				</control>
				<control>
					<description>Screen</description>
					<type>button</type>
					<id>5</id>
					<label>6023</label>
					<hyperlink>9</hyperlink>
				</control>
				<control>
					<description>TV</description>
					<type>button</type>
					<id>10</id>
					<label>605</label>
					<hyperlink>700</hyperlink>
				</control>
				<control>
					<description>My Pictures</description>
					<type>button</type>
					<id>7</id>
					<label>1</label>
					<hyperlink>12</hyperlink>
				</control>
				<control>
					<description>Movies</description>
					<type>button</type>
					<id>8</id>
					<label>3</label>
					<hyperlink>703</hyperlink>
				</control>
				<control>
					<description>My DVD</description>
					<type>button</type>
					<id>9</id>
					<label>1027</label>
					<hyperlink>704</hyperlink>
				</control>
				<control>
					<description>My Music</description>
					<type>button</type>
					<id>6</id>
					<label>2</label>
					<hyperlink>14</hyperlink>
					<ondown>11</ondown>
				</control>
				<control>
					<description>MiniDisplay</description>
					<type>button</type>
					<id>11</id>
					<label>9100</label>
					<hyperlink>9000</hyperlink>
					<ondown>4</ondown>
				</control>
			</control>
		</control>
	</controls>
</window>